
.icon-arrow {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/arrow.png');
}



.icon-fist-fill {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/fist-fill.png');
}



.icon-flag-canada {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/flag-canada.png');
}



.icon-flag-usa {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/flag-usa.png');
}


