
.icon-coeur {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/coeur.png');
}



.icon-fist-fill {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/fist-fill.png');
}



.icon-logo-chromium {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/logo-chromium.png');
}



.icon-mic {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/mic.png');
}



.icon-no-mic {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/no-mic.png');
}



.icon-play {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/play.png');
}



.icon-radio-dokoma {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/radio-dokoma.png');
}


