
.icon-fist-fill {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/fist-fill.png');
}



.icon-mic {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/mic.png');
}



.icon-play {
  background-repeat: no-repeat;
  background-image: image-url('decouvrez/icons/pngs/play.png');
}


